{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="create-container">
            <form method="post" id="payment-form">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Pay Now</button>
            </form>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>

     <script>
        const stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY  }}');
        const form = document.getElementById('payment-form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const cardElement = elements.create('card');
            const { token, error } = await stripe.createToken(cardElement);

            if (error) {
                console.error(error);
            } else {
                const formData = new FormData(form);
                formData.append('stripe_token', token.id);

            fetch('{% url "join_training" training.pk %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                window.location.href = '{% url "trainings" %}';
            } else {
            console.error('Payment processing failed.');
            }
            })
            .catch(error => {
            console.error(error);
            });
            }
        });
    </script>

{% endblock %}
