# Ignore Python bytecode cache
__pycache__/

# Ignore database migration files
/migrations/

# Ignore IDE-specific folders (e.g., .idea for PyCharm)
.idea/
.vscode/  # For Visual Studio Code, if you use it

# Ignore PostgreSQL database settings (example: local settings for development)
# Add more entries as needed for other environments, e.g., prod_settings.py
*settings_local.py

# Ignore PostgreSQL database backup files
*.backup
*.dump
*.sql
*.sqlite3  # If you use SQLite for local development

# Ignore .env files (environment variables)
*.env