body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
}

.logo {
    height: 50px;
    margin-right: 0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
}

.search-input {
    padding: 8px;
    border: 2px solid #ccc;
    border-right-color: white;
    border-radius: 6px 0 0 6px;
    width: 300px;
    outline: none;
}

.search-button {
    background-color: dodgerblue;
    color: white;
    padding: 8px 15px;
    border: 2px solid #ccc;
    border-left-color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #03417c;
}

.navigation {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.navigation li a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20px;

}
.navigation li {
    padding: 10px;
    border-radius: 20px;
    flood-opacity: 20%;
}
.navigation li:hover {
    background-color: lightsteelblue;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.second-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002049;
    padding-top: 15px;
}


.second-navigation ul {
    display: inline;
    padding: 0;
    margin: 0 155px 0 0;
}

.second-navigation-nav ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding: 6px;
}
.second-navigation-nav ul li:hover{
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.second-navigation-nav ul li a {
    color: white;
    padding: 3px;
}

.second-navigation-nav ul li a:hover{
    color: black;
}

hr{
    margin: 0;

}
main {
    padding-bottom: 45px;
}

.main-section {
    text-align: center;
}

.main-section p{
    color: white;
}

.welcome {
    font-size: 60px;
    margin: 91px 0 0 0;
}

.information {
    margin: 0 310px;
    font-size: 30px;
}


.footer {
    background-color: #002049;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: auto;
    color: dimgray;
}

/*Publications*/
.publications-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto 0;
    max-width: 55%;
}
.publication-container{
    flex: 0 0 33.333333%;
    margin-top: 10px;
}

.publication-nav .pub-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #002049;
    margin: 0 480px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
}
.pub-li{
    margin-right: 30px;
}

.pub-li:hover{
    background-color: whitesmoke;
    /*padding: 6px;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pub-li a:hover{
    color: black;
}

.publication-nav .pub-li {
    display: inline;
}

.publication-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.publication-nav a.active {
    background-color: #ddd;
}

.publication {
    width: 70%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: #05316c;
    color: whitesmoke;
    margin-left: 180px;
}

.publication form{
    display: inline-block;
}

.publication img{
    width: 100%;
    height: 500px;
}


.date {
    position: absolute;
    top: 10px;
    left: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin: 10px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    margin-left: 10px;
}

.publication a {
    color: white;
}

.publication-details {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.publication-details p {
    margin-top: 10px;
}

.publications-profile-details{
    margin-bottom: 50px;
}

.publications-profile-details img{
    width: 150px;
    height: 150px;
}
/*Trainings*/

.course-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;


}

.course-h1 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 45px;
    margin-top: 20px;
}


.course {
    display: flex;
    align-items: center;
    background-color: #05316c;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 30%;
    width: 25%;
}

.course img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}



.course-details {
    overflow: hidden;
    color: whitesmoke;
}
.course-description {
  overflow-wrap: break-word;
  word-break: break-word;
}

.course-details a {
    color: steelblue;
    margin: 5px;
}

.course-details h2 {
    margin: 0;
    font-size: 18px; /
}

.course-details p {
    margin: 5px 0;
}


.no-events{
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
}



/*details profile photo section*/

.details-profile-photo-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    /*margin-left: 500px;*/
    /*margin-right: 500px;*/
}

.details-profile-photo-section .publication {
    width: 200px;
    padding: 0;
}


.details-profile-photo-section .publication a img {
    border-radius: 5px;
}

.pub-header {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.events{
    display: flex;
    flex-direction: column-reverse;
}



/*Comments*/
#id_content {
    height: 35px;
    outline: none;
}

.comment-list{
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

#comment-form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#comment-form textarea{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    resize: none;
}



.joined {
    color: limegreen;
}

.p {
    color: whitesmoke;
}

/*Messages*/
.message-container {
    color: whitesmoke;
}

.inline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#event-no{
    margin-left: 9px;
}

.training-title {
    color: whitesmoke;
    margin-left: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 0 5px;
    color: whitesmoke;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {

    color: dodgerblue;
}

.follow-details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 5px;
}
.follow-details p{
    margin-left: 10px;
}

.conversation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 60%;
    margin-left: 90px;
    max-width: 60%;

}

.conversation-list li a {
    color: whitesmoke;
   align-items: center;
    text-align: center;
}
.conversation-list li a span {
    margin: 0 0 0 5px;
}

.conversation-photo {
    border-radius: 50%;
}

.current-conversation-header {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.conversation-container {
    position: relative;
    background-color: rgba(245, 245, 245, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.conversation-container-msg {
    list-style-type: none;
}

.conversation-container-msg li {
    padding: 5px;
    border-radius: 5px;
}

/*FOR FIREFOX*/
.conversation-container::-webkit-scrollbar-track {
  background: transparent;
}

.conversation-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.conversation-container::-webkit-scrollbar-button {
  display: none;
}

/*FOR BRAVE/CHROME*/
.conversation-container::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 5px;
    }

.message-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.message-form input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
     margin-right: 10px;
}

.message-form textarea {
    display: flex;
    align-items: center;
     background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    resize: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: black;
}
.message-form textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.message-form button {
    background-color: #339966;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    cursor: pointer;
}

/*EVENTS*/

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.events-container {
    background-color: #05316c;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-container {
    justify-content: left;
}

.event-details {
    margin-top: 10px;
    padding: 10px;
    color: whitesmoke;
}
.event-description {
    overflow-wrap: break-word;
    word-break: break-word;
}

.event-a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.event-h1, .no-events {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 45px;
    margin-top: 20px;
}

.pagination{
    color: whitesmoke;
}

.approve-container {
    justify-content: center;
    gap: 10px;
}





