.submit,
#edit-btn-acc,
#delete-btn-acc {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-left: 100px;
}

.submit:hover,
#edit-btn-acc:hover,
#delete-btn-acc:hover {
    background: #03417c;
}

.close-button {
    position: relative;
    bottom: 62px;
    left: 431px;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 100%;
    padding: 0 5px;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: gray;
}
.close-button a {
    color: gray;
}

.delete-btn {
    display: inline-block;
    margin: 20px auto 20px 30px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

.dlt-btn {
    margin-left: 400px;
}

.delete-btn .edit-btn{
    color: white;
}


.delete-btn:hover {
  background-color: darkblue;
}

#edit-btn-acc {
    padding: 10px 20px;
    margin-left: 130px;
}

#delete-btn-acc {
    margin-left: 25px;
}


.register-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 40px;
    font-size: large;
    background-color: #3fe87d;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.register-button:hover {
    background-color: #03fc4e;
}


.publication-buttons{
    margin-left: 10px;
    margin-top: 10px;
}

.publication-buttons button {

}