.biology-container {
    display: flex;
    margin: 160px 241px 50px;
    border: solid 2px #5b80b2;
    border-radius: 30px;
    flex-direction: column;
}

.biology-header {
    flex: 1;
    text-align: center;
    background-size: cover;
    color: #fff;
    padding: 20px;
}


.biology-content {
    flex: 0.8;
    padding: 20px;
    background-color: floralwhite;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.biology-content h2 {
    color: #007bff;
}

.biology-header{
    /*background-image: url('/static/images/zoology-background.jpg');*/
    background-color: #05316c;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}