{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav class="publication-nav">
        <ul class="pub-ul">
            <li class="pub-li"><a href="#">General Events</a></li>
            <li class="pub-li"><a href="#">Zoology Events</a></li>
            <li class="pub-li"><a href="#">Botany Events</a></li>
            <li class="pub-li"><a href="#">Microbiology Events</a></li>
        </ul>
    </nav>
    {% if events %}
    <div class="publications-container" role="button">
        <div class="publication-container" role="button">
            <div class="publication">
                <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
                <div class="publication-details">
                    <h2>Title of Event</h2>
                    <p>Description of the event goes here.</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="no-events">Not events yet!</h2>
    {% endif %}
{% endblock %}