{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="main-section">
            {% if not request.user.is_authenticated  %}
                <p class="welcome">Welcome to <b>Biotics</b></p>
                <p class="information">
                    Let the science be with you!
                </p>
                <button class="register-button"><a href="{% url 'create_profile' %}">Sing Up</a></button>
            {% else %}
               <p class="welcome">Welcome to Biotics, <b>{{ request.user.username }},</b></p>
                <p class="information">
                   your gateway to the captivating world of biology! Uncover the
                    secrets of life and let the science be with you on this exhilarating journey!
                    Explore the wonders of genetics, ecology, and evolution.
                    Join our community of biology enthusiasts and stay up-to-date with the
                    latest discoveries. Let's embark on this exciting adventure together!
                </p>
                <p class="information">
                    Let the science be with you!
                </p>
            {% endif %}
        </div>
    </main>

    <div class="choises-section">
        <a href="{% url 'zoology' %}" class="choice" role="button" >
            <img src="{% static '/images/Zoology.jpg' %}" alt="Zoology" class="background-image">
            <h2>Zoology</h2>
            <p class="description">Zoology is the scientific study of animals, including their classification, behavior, and habitats.</p>
        </a>
        <a href="{% url 'botany' %}" class="choice" role="button" >
            <img src="{% static '/images/Botany.jpg' %}" alt="Botany" class="background-image">
            <h2>Botany</h2>
            <p class="description">Botany is the scientific study of plants, including their structure, growth, and reproduction.</p>

        </a>
        <a href="{% url 'microbiology' %}" class="choice" role="button" >
            <img src="{% static '/images/Microbiology.jpg' %}" alt="Microbiology" class="background-image">
            <h2>Microbiology</h2>
            <p class="description">Microbiology is the scientific study of microorganisms, including bacteria, viruses, and fungi.</p>
        </a>
    </div>

{% endblock %}