{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="main-section">
            <p class="welcome">Welcome to <b>Biotics</b></p>
            <p class="information">
                Let the science be with you!
            </p>
            <button class="register-button"><a href="{% url 'create_profile' %}">Sing up</a></button>
        </div>
    </main>

    <div class="choises-section">
        <a href="{% url 'zoology' %}" class="choice" role="button" >
            <img src="{% static '/images/Zoology.jpg' %}" alt="Zoology" class="background-image">
            <h2>Zoology</h2>
            <p class="description">Zoology is the scientific study of animals, including their classification, behavior, and habitats.</p>
        </a>
        <a href="{% url 'botany' %}" class="choice" role="button" >
            <img src="{% static '/images/Botany.jpg' %}" alt="Botany" class="background-image">
            <h2>Botany</h2>
            <p class="description">Botany is the scientific study of plants, including their structure, growth, and reproduction.</p>

        </a>
        <a href="{% url 'microbiology' %}" class="choice" role="button" >
            <img src="{% static '/images/Microbiology.jpg' %}" alt="Microbiology" class="background-image">
            <h2>Microbiology</h2>
            <p class="description">Microbiology is the scientific study of microorganisms, including bacteria, viruses, and fungi.</p>
        </a>
    </div>

{% endblock %}