{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="profile-container">
            <h2 class="header">Login</h2>
            <span class="close-button" role="button">×</span>
            <form>
                <input class="register-input" type="text" placeholder="Username" required>
                <input class="register-input" type="password" placeholder="Password" required>
                <button class="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}