{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav class="publication-nav">
        <ul class="pub-ul">
            <li class="pub-li"><a href="#">General Publications</a></li>
            <li class="pub-li"><a href="#">Zoology Publications</a></li>
            <li class="pub-li"><a href="#">Botany Publications</a></li>
            <li class="pub-li"><a href="#">Microbiology Publications</a></li>
        </ul>
    </nav>
    <div class="publications-container" role="button">
        <div class="publication-container">
            <div class="publication">
                <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
                <div class="user-profile">
                    <img src="{% static '/images/user.png' %}" alt="User Profile Picture">
                    <div class="username">Username</div>
                </div>
                <div class="publication-details">
                    <h2>Title of Publication</h2>
                    <p>Description of the publication goes here.</p>
                </div>
            </div>
        </div>
        <div class="publication-container">
            <div class="publication">
                <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
                <div class="user-profile">
                    <img src="{% static '/images/user.png' %}" alt="User Profile Picture">
                    <div class="username">Username</div>
                </div>
                <div class="publication-details">
                    <h2>Title of Publication</h2>
                    <p>Description of the publication goes here.</p>
                </div>
            </div>
        </div>
        <div class="publication-container">
            <div class="publication">
                <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
                <div class="user-profile">
                    <img src="{% static '/images/user.png' %}" alt="User Profile Picture">
                    <div class="username">Username</div>
                </div>
                <div class="publication-details">
                    <h2>Title of Publication</h2>
                    <p>Description of the publication goes here.</p>
                </div>
            </div>
        </div>
        <div class="publication-container">
            <div class="publication">
                <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
                <div class="user-profile">
                    <img src="{% static '/images/user.png' %}" alt="User Profile Picture">
                    <div class="username">Username</div>
                </div>
                <div class="publication-details">
                    <h2>Title of Publication</h2>
                    <p>Description of the publication goes here.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}