{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="course-h1">Courses</h1>
    <div class="course-container" role="button">
        <div class="course">
            <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
            <div class="course-details">
                <h2>Title of Course</h2>
                <p>10/11/23</p>
                <p>10 weeks</p>
                <p>Description of the course goes here.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
    </div>
    <div class="course-container" role="button">
        <div class="course">
            <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
            <div class="course-details">
                <h2>Title of Course</h2>
                <p>10/11/23</p>
                <p>10 weeks</p>
                <p>Description of the course goes here.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
    </div>
    <div class="course-container" role="button">
        <div class="course">
            <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
            <div class="course-details">
                <h2>Title of Course</h2>
                <p>10/11/23</p>
                <p>10 weeks</p>
                <p>Description of the course goes here.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
    </div>
    <div class="course-container" role="button">
        <div class="course">
            <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
            <div class="course-details">
                <h2>Title of Course</h2>
                <p>10/11/23</p>
                <p>10 weeks</p>
                <p>Description of the course goes here.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
    </div>
    <div class="course-container" role="button">
        <div class="course">
            <img src="{% static 'images/Microbiology.jpg' %}" alt="Publication Image">
            <div class="course-details">
                <h2>Title of Course</h2>
                <p>10/11/23</p>
                <p>10 weeks</p>
                <p>Description of the course goes here.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
    </div>
{% endblock %}