{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <title>Biotics</title>
    <script src="https://kit.fontawesome.com/04d421950c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home_page' %}">
            <img class="logo" src="{% static '/images/logo.png' %}" alt="Logo">
        </a>

        <div class="search-container">
            <input class="search-input" type="text" placeholder="Search...">
            <button class="search-button">Search</button>
        </div>

        <ul class="navigation">
            {% if not request.user.is_authenticated  %}
                <li><a href="{% url 'login_page' %}">Login</a></li>
                <li><a href="{% url 'create_profile' %}">Sign Up</a></li>
            {% else %}
                <li><a href="{% url 'create_publication' %}">Create Post</a></li>
                <li><a href="{% url 'create_event' %}">Create Event</a></li>
                <li><a href="{% url 'profile_details' request.user.pk %}">Profile Details</a></li>
                <li><a href="{% url 'logout_user' %}">Logout</a></li>
            {% endif %}
        </ul>
    </header>
    <div class="second-navigation">
        <nav class="second-navigation-nav">
            <ul>
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'publications' %}">Publications</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'trainings' %}">Trainings</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'approval-event' %}">For Approve</a></li>
                {% endif %}
            </ul>
            <hr>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

    <footer>
        <p class="footer">&copy; 2023 Biotics. All rights reserved.</p>
    </footer>
</body>
</html>
