{% extends 'base.html' %}
{% load custom_filter %}
{% block content %}
    <div class="container">
        <div class="profile-container">
            <h2 class="header">Log In</h2>
            <span class="close-button" role="button">×</span>
            <form method="post">
                {{ form.usename.errors }}
                {{ form.username|placeholder:'Username' }}
                {{ form.password.errors }}
                {{ form.password|placeholder:'Password' }}
                <button class="submit">Log In</button>
                {% csrf_token %}
            </form>
            <div class="second-option">
                <p>Don't have account? <a href="{% url 'create_profile' %}">Register</a></p>
            </div>
        </div>
    </div>
{% endblock %}