{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="container">
        <div class="profile-container">
            <h2 class="profile-details-header">Profile Details</h2>
            {% if profile.image %}
                <img id="details-img" src=""
                     alt="profile img"/>
            {% else %}

                <img id="details-img" src="{% static '/images/user.png' %}" alt="profile img"/>
            {% endif %}

            <div id="info-wrapper">
                <p id="details-title">Borislav Kamenov</p>
                <div class="bg-details">
                    <div id="details-description">
                        <p>Age: 22</p>
                        <p id="details-email">Email: b.kamenow@mail.bg</p>
                        <p id="nutrition">Followers: 1234</p>
                    </div>
                </div>
                <div id="action-buttons">
                    <a href="{% url 'edit_profile' %}" id="edit-btn-acc">Edit</a>
                    <a href="{% url 'delete_profile' %}" id="delete-btn-acc">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}