{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
        <div class="create-container">
            <h2 class="header">Edit Profile</h2>
            <span class="close-button" role="button"><a href="javascript:history.back()">×</a></span>
            <form method="post" enctype="multipart/form-data">
                {% for field in form %}
                <p class="error">{{ field.errors }}</p>
                {% if field.name == "profile_picture" %}
                    <div class="label-input">
                        <label>{{ field.label }}</label>
                        <input type="file" name="{{ field.name }}">
                    </div>
                {% else %}
                    <div class="label-input">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
                {% endfor %}
                <button class="submit">Edit</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    </main>
{% endblock %}