{% extends 'base.html' %}
{% load custom_filter %}
{% block content %}
    <div class="container">
        <div class="profile-container">
            <h2 class="header">Create Profile</h2>
            <span class="close-button">×</span>
            <form method="post">
{#                <input class="register-input" type="text" placeholder="First name" required>#}
{#                <input class="register-input" type="text" placeholder="Last name" required>#}
{#                <input class="register-input" type="text" placeholder="Username" required>#}
{#                <input class="register-input" type="email" placeholder="Email" required>#}
{#                <input class="register-input" type="password" placeholder="Password" required>#}
{#                <input class="register-input" type="password" placeholder="Repeat Password" required>#}
                {% csrf_token %}
                {{ form.username.errors }}
                {{ form.username|placeholder:'Username' }}
                {{ form.email.errors }}
                {{ form.email|placeholder:'Email' }}
                {{ form.password1|placeholder:'Password' }}
                {{ form.password1.errors }}
                {{ form.password2|placeholder:'Repeat Password' }}
                {{ form.password2.errors }}
                <div class="terms">
                    <input class="register-input" type="checkbox" id="termsCheckbox" required>
                    <label for="termsCheckbox">I agree to the <a href="#">Terms and Conditions and Privacy Policy.</a></label>
                </div>
                <button class="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

