{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
        <div class="profile-container">
            <h2 class="header">Edit Profile</h2>
            <span class="close-button">×</span>
            <form>
                <input class="register-input" type="text" placeholder="First name" required>
                <input class="register-input" type="text" placeholder="Last name" required>
                <input class="register-input" type="text" placeholder="Username" required>
                <input class="register-input" type="email" placeholder="Email" required>
                <button class="submit">Edit</button>
            </form>
        </div>
    </div>
    </main>
{% endblock %}