{% extends 'base.html' %}
{% load custom_filter_msg %}
{% load static %}
{% block content %}
     <div class="container">
        <div class="create-container">
            <h2 class="profile-details-header">Profile Details</h2>
             <span class="close-button" role="button"><a href="javascript:history.back()">×</a></span>
            {% if object.profile_picture %}
                <img id="details-img" src="{{ object.profile_picture.url }}"
                     alt="profile img"/>
            {% else %}
                <img id="details-img" src="{% static '/images/user.png' %}" alt="profile img"/>
            {% endif %}

            <div id="info-wrapper">
                <p id="details-title">{{ object.username }}</p>
                <div class="follow-details">
                    <p>Followers: {{ object.get_following_count }} </p>
                    <p>Following: {{ object.total_followers }} </p>
                </div>
                {% if user.is_authenticated %}
                    {% if request.user != other_user %}
                        <div class="follow-btn-container">
                            {% if user in other_user.following.all %}
                                <a href="{% url 'toggle_follow' username=other_user.username  %}" class="follow-button" id="delete-btn-acc" style="background-color: darkslateblue">Following</a>
                            {% else %}
                                <a  href="{% url 'toggle_follow' username=other_user.username  %}" class="follow-button" id="delete-btn-acc"> Follow </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="bg-details">
                    <div id="details-description">
                        {% if object.get_user_name %}
                            <p>Name: {{ object.get_user_name }}</p>
                        {% endif %}
                        {% if object.age %}
                            <p>Age: {{ object.age }}</p>
                        {% endif %}
                        {% if object.gender %}
                            <p>Gender: {{ object.gender }}</p>
                        {% endif %}
                        {% if object.biology_type %}
                            <p>Biology type: {{ object.biology_type }}</p>
                        {% endif %}
                        {% if object.rank %}
                            <p>Rank: {{ object.rank }}</p>
                        {% endif %}
                        <p>Email: {{ object.email}}</p>
                    </div>
                </div>
                <div id="action-buttons">
                    {% if request.user != object %}
                        {% if request.user != other_user %}
                            {% with conversation=other_user.conversations.all|get_conversation_with_other_user:request.user %}
                                {% if request.user == object %}
                                    <a href="{% url 'conversation_view' user_id=other_user.id %}" id="delete-btn-acc">
                                        <i class="fa-regular fa-message"></i>
                                    </a>
                                {% else %}
                                    {% if conversation %}
                                        <a href="{% url 'conversation_view' user_id=other_user.id %}" id="delete-btn-acc">
                                            <i class="fa-regular fa-message"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'create_conversation' other_user_id=other_user.id %}" id="delete-btn-acc">
                                            <i class="fa-regular fa-message"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'conversations_list' %}" id="delete-btn-acc"><i class="fa-regular fa-message"></i></a>
                        <a href="{% url 'edit_profile' pk=object.pk %}" id="edit-btn-acc">Edit</a>
                        <a href="{% url 'delete_profile' pk=object.pk %}" id="delete-btn-acc">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h2 class="pub-header">Publications</h2>
    <div class="details-profile-photo-section">
        {% for pub in object.publications.all %}
                <div class="publications-profile-details">
                    <a href="{% url 'details-publication' pk=pub.pk %}">
                        <img src="{{ pub.photo.url }}" alt="Publication Image">
                    </a>
                </div>
        {% endfor %}
    </div>
     <h2 class="pub-header">Trainings</h2>
    <div class="details-profile-photo-section">
        {% for training in paid_trainings %}
                <div class="publications-profile-details">
                    <img src="{{ training.photo.url }}" alt="Training Image">
                    <h3 class="training-title">{{ training.title }}</h3>
                </div>
        {% endfor %}
    </div>
{% endblock %}