{% extends 'base.html' %}
{% block content %}

    <div class="biology-container">
        <div class="biology-header zoology-header">
            <h1>Botany</h1>
            <p>
                Botany is a branch of biology that deals with the scientific study of plants.
                It encompasses a wide range of topics related to plants, including their structure,
                function, growth, evolution, classification, distribution, and interactions with the environment.
                Botanists, who are scientists specialized in botany, investigate various aspects of plant life to
                better understand their diversity, ecological roles, and significance to the ecosystem and human society.
            </p>
            <p>Botany is fundamental to our understanding of the natural world, as plants form the basis of most
                terrestrial ecosystems and are essential for maintaining the Earth's ecological balance. It is also
                crucial for addressing global challenges such as climate change, food security, and conservation of
                biodiversity. Furthermore, the knowledge gained from botany has practical applications in agriculture,
                horticulture, forestry, pharmacology, and environmental conservation, making it an important field in
                the pursuit of sustainable practices and the well-being of human societies.
            </p>
        </div>
        <div class="biology-content">
                <div id="">
                    <h2>Plant Anatomy and Morphology</h2>
                    <p>Botanists study the internal and external structures of plants, including their roots,
                        stems, leaves, flowers, and reproductive organs. Understanding plant morphology helps in
                        species identification and classification.</p>
                    <a href="#">More info</a>
                </div>
            <hr>
            <div id="">
                    <h2>Physiology</h2>
                    <p> Plant physiology explores the various processes and functions that occur within plants, such
                        as photosynthesis, respiration, transpiration, and nutrient uptake. It examines how plants
                        respond to environmental factors like light, water, temperature, and nutrients.
                    </p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Taxonomy and Systematics</h2>
                    <p>Botanists classify plants into different groups based on their evolutionary relationships
                        and shared characteristics. The science of taxonomy aids in organizing and naming plant species,
                        allowing for better communication and understanding within the scientific community.
                    </p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Plant Ecology</h2>
                    <p>This area of botany focuses on the interactions between plants and their environment.
                        It examines how plants adapt to different habitats, their role in ecosystems, and their
                        relationships with other organisms, including animals and microorganisms.
                    </p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Plant Evolution and Genetics</h2>
                    <p>Botanists study the evolutionary history of plants, tracing their ancestry and understanding
                        how they have diversified over time. Genetics plays a crucial role in studying the inheritance
                        of traits in plants and exploring genetic variation within populations.
                    </p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Plant Biotechnology</h2>
                    <p>This interdisciplinary field combines principles of botany with genetic engineering and
                        biotechnology to develop new plant varieties with desirable traits, improve crop yields,
                        and address agricultural challenges.
                    </p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Plant Systematics</h2>
                    <p>This branch of botany focuses on the classification and naming of plants, aiming to provide
                        a comprehensive understanding of the relationships between different plant species.</p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Ethnobotany</h2>
                    <p>Ethnobotany examines the relationship between plants and human cultures.
                        It investigates the traditional uses of plants for medicinal, food, ceremonial,
                        and other purposes by indigenous communities.</p>
                    <a href="#">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Economic Botany</h2>
                    <p>This area of botany studies the economic importance of plants, including their use in agriculture,
                        forestry, medicine, and the production of various products like textiles, paper, and biofuels.</p>
                    <a href="#">More info</a>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}