{% extends 'base.html' %}
{% block content %}

    <div class="biology-container">
        <div class="biology-header ">
            <h1>Microbiology</h1>
            <p>
                Microbiology is a specialized branch of biology that focuses on the study of microorganisms,
                which are microscopic living organisms that are too small to be seen with the naked eye. Microorganisms
                include various types of bacteria, viruses, fungi, protozoa, and microscopic algae. Microbiology
                plays a fundamental role in understanding the diversity, structure, physiology, genetics, and ecology
                of these microorganisms, as well as their interactions with other living organisms and the environment.
            </p>
            <p>Microbiology plays a crucial role in several areas, including medicine, agriculture,
                biotechnology, food safety, and environmental conservation. It contributes to the development
                of vaccines, antibiotics, and other medical treatments, as well as the understanding of infectious
                diseases and epidemiology. Moreover, microbiology has significant implications for agriculture ,
                as it studies beneficial soil microorganisms, plant-microbe interactions, and strategies for
                crop protection. Overall, the study of microbiology is essential for advancing our understanding
                of the microbial world and its impact on the health of ecosystems and living organisms, including humans.
            </p>
        </div>
        <div class="biology-content">
                <div id="">
                    <h2>Bacteriology</h2>
                    <p>Bacteriology is the study of bacteria, which are single-celled prokaryotic microorganisms.
                        Bacteriologists investigate various aspects of bacteria, including their morphology,
                        physiology, genetics, pathogenicity (ability to cause disease), and roles in biogeochemical
                        cycles.</p>
                    <a href="{% url 'bacteriology' %}">More info</a>
                </div>
            <hr>
            <div id="">
                    <h2>Virology</h2>
                    <p> Virology deals with the study of viruses, which are small infectious agents that can only
                        replicate inside the living cells of other organisms. Virologists examine virus structure,
                        replication mechanisms, interactions with host cells, and the diseases they cause in humans,
                        animals, and plants.
                    </p>
                    <a href="{% url 'virology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Mycology</h2>
                    <p>Mycology is the study of fungi, including yeasts, molds, and mushrooms.
                        Mycologists investigate fungal diversity, morphology, life cycles, ecological roles,
                        and interactions with other organisms, both beneficial and harmful.
                    </p>
                    <a href="{% url 'mycology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Protozoology</h2>
                    <p>Protozoology focuses on the study of protozoa, which are single-celled eukaryotic microorganisms.
                        Protozoologists examine their diversity, life cycles, ecological roles,
                        and impact on human health and ecosystems.
                    </p>
                    <a href="{% url 'protozoology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Microbial Physiology</h2>
                    <p>Microbial physiology explores the metabolic processes and cellular
                        of microorganisms. It investigates how microorganisms obtain and utilize nutrients,
                        produce energy, and adapt to various environmental conditions.
                    </p>
                    <a href="{% url 'microbial_physiology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Microbial Genetics</h2>
                    <p>Microbial genetics is concerned with the study of the genetic material of microorganisms.
                        This field examines how genetic information is transmitted, replicated, and expressed in microorganisms.
                    </p>
                    <a href="{% url 'microbial_genetics' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Environmental Microbiology</h2>
                    <p>Environmental microbiology examines the role of microorganisms in various ecosystems
                        and their interactions with the environment. It investigates microbial contributions
                        to biogeochemical cycles, nutrient cycling, and pollution remediation.</p>
                    <a href="{% url 'environmental_microbiology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Medical Microbiology</h2>
                    <p>Medical microbiology focuses on the study of microorganisms relevant to human health.
                        This field investigates infectious diseases, antibiotic resistance, and strategies for
                        disease prevention and control.</p>
                    <a href="{% url 'medical_microbiology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Industrial Microbiology</h2>
                    <p>Industrial microbiology applies microorganisms in various industrial processes,
                        such as fermentation for food and beverage production, bioremediation, and the production
                        of pharmaceuticals and enzymes.</p>
                    <a href="{% url 'industrial_microbiology' %}">More info</a>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}