{% extends 'base.html' %}
{% block content %}

    <div class="biology-container">
        <div class="biology-header">
            <h1>Zoology</h1>
            <p>Zoology is a branch of biology that specifically focuses on the scientific study of animals.
                It is a discipline that examines various aspects of the animal kingdom, including their anatomy,
                physiology, behavior, genetics, evolution, ecology, and interactions with the environment.
                Zoologists, who are scientists specialized in zoology, seek to understand the diversity of animal life
                on Earth, ranging from microscopic organisms to complex multicellular organisms.</p>
            <p>Zoology is a vast field with numerous sub-disciplines and specializations.
                Zoologists often focus on specific groups of animals, such as mammals, birds,
                reptiles, fish, insects, or marine organisms. Additionally, they may specialize in specific
                research areas, like ethology (study of animal behavior), herpetology (study of amphibians
                and reptiles), ornithology (study of birds), entomology (study of insects), and many others.</p>
            <p>Zoology is not only fundamental for understanding the natural world and the organisms
                with whom we share the planet but also plays a crucial role in addressing ecological
                challenges and promoting sustainable practices for the conservation of wildlife and their habitats.</p>
        </div>
        <div class="biology-content">
                <div id="">
                    <h2>Anatomy and Physiology</h2>
                    <p>Zoologists study the internal and external structures of animals and their physiological
                        functions. This involves understanding how different organs and systems work together to
                        support an animal's life processes.</p>
                    <a href="{% url 'anatomy_and_physiology' %}">More info</a>
                </div>
            <hr>
            <div id="">
                    <h2>Taxonomy and Classification</h2>
                    <p> Zoologists classify animals into different groups based on their evolutionary relationships
                        and shared characteristics. This system of classification allows for a better understanding
                        of animal diversity and helps in identifying new species.</p>
                    <a href="{% url 'taxonomy_classification' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Behavior</h2>
                    <p>Zoologists explore the behaviors exhibited by animals, including their social interactions,
                        mating behaviors, communication methods, and responses to environmental stimuli.</p>
                    <a href="{% url 'behavior' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Ecology</h2>
                    <p>This area of zoology focuses on the interactions between animals and their environment.
                        It examines how animals adapt to their surroundings, their roles in ecosystems, and their
                        influence on other organisms and the environment.</p>
                    <a href="{% url 'ecology' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Evolution</h2>
                    <p>Zoologists study the processes and patterns of animal evolution over time, tracing the origin
                        of species and understanding how they have changed and diversified through natural selection
                        and other evolutionary mechanisms.</p>
                    <a href="{% url 'evolution' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Genetics</h2>
                    <p>Zoologists investigate the genetic makeup of animals to comprehend inheritance patterns,
                        genetic variation within populations, and how genes influence an animal's physical and
                        behavioral traits.</p>
                    <a href="{% url 'genetics' %}">More info</a>
            </div>
            <hr>
            <div id="">
                    <h2>Conservation</h2>
                    <p>Zoologists play a crucial role in wildlife conservation efforts. They assess the status
                        of endangered species, develop strategies for habitat preservation, and implement plans
                        to protect biodiversity.</p>
                    <a href="{% url 'conservation' %}">More info</a>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}